<div style="display: flex">
  <div style="width: 30vw">
    <app-drawer></app-drawer>
  </div>

  <div style="width: 70vw">
    <app-chart></app-chart>

    <div class="flex-container">
      <app-stock-info
        *ngFor="let item of items"
        [title]="item.title"
        [value]="item.value"
        [isIncrease]="item.isIncrease"
        [increaseValue]="item.increaseValue"
        [iconName]="item.iconName"
        [iconColor]="item.iconColor"
      ></app-stock-info>
    </div>
  </div>
</div>
