<div style="display: flex">
  <div style="margin-left: 16px; width: 30vw">
    <app-drawer></app-drawer>
  </div>

  <div style="width: 70vw">
    <app-chart *ngIf="showChart" [test]="increment"></app-chart>

    <div style="display: block; margin-left: 15px; margin-right: 15px">
      <mat-form-field style="width: 100%">
        <mat-label>Order by</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let orderItem of orderCriteria"
            [value]="orderItem.id"
            (click)="onChangeOrder(orderItem)"
          >
            {{ orderItem.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex-container">
      <app-stock-info
        *ngFor="let item of orderedItems"
        [title]="item.title"
        [value]="item.value"
        [isIncrease]="item.isIncrease"
        [increaseValue]="item.increaseValue"
        [iconName]="item.iconName"
        [iconColor]="item.iconColor"
        [isFavorite]="item.isFavorite"
        (onFavorite)="onFavoriteRefresh($event)"
      ></app-stock-info>
    </div>
  </div>
</div>
