.div-logo {
  display: flex;
  margin-bottom: 60px;
  margin-top: 10px;

  .img-logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

}

.div-container {
  display: flex;
}

.card-container {
  width: 30vw;
  margin: auto;
  margin-top: 20vh;
}

.div-input-field {
  display: grid;
}

.div-buttons-container {
  display: grid;
}
